<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<br><br>
			<h3 class="text-center text-muted">
				Welcome to Github Information Search
			</h3>
			<ul class="nav nav-tabs">
				<!-- <li class="active">
					<a routerLink="/home " routerLinkActive="active">Home</a>
				</li> -->
				<li class="active">
					<a routerLink="/details" routerLinkActive="active">Search Detail</a>
				</li>
				<li>
					<a routerLink="/repo" routerLinkActive="active">Search Repository</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
